
  .container {
    width: 400px;
    margin-top: -50px;
    
  }
  
  .login-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center; /* 텍스트를 가운데 정렬 */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  

  
  button[type="Sign_in"],
  button[type="Sign_up"] {
    background-color: #5bc2e7; /* 파란색 */
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 20px; /* 버튼 안의 여백 조정 */
    border: none; /* 기본 테두리 제거 */
    border-radius: 8px; /* 모서리 둥글게 */
    font-size: 16px; /* 글자 크기 조정 */
    width: 40%; /* 폭을 부모 요소의 전체 너비로 설정 */
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Pretendard_SemiBold';

  }